development:
  sessions:
    default:
      database: kontena_development
      hosts:
        - localhost:27017
  options:
    use_utc: true
    raise_not_found_error: false
test:
  sessions:
    default:
      database: kontena_test
      options:
        pool_size: 25
        read: :primary
        write:
          w: 1
      hosts:
        - localhost:27017
  options:
    use_utc: true
    raise_not_found_error: false
production:
  sessions:
    default:
      options:
        pool_size: 40
        read: :primary
        write:
          w: 1
      uri: <%= ENV['MONGODB_URI'] || ENV['MONGOHQ_URL'] %>
  options:
    use_utc: true
    raise_not_found_error: false
