development:
  clients:
    default:
      uri: <%= ENV['MONGODB_URI'] || 'mongodb://localhost:27017/kontena_development' %>
  options:
    use_utc: true
    raise_not_found_error: false
test:
  clients:
    default:
      uri: <%= ENV['MONGODB_URI'] || 'mongodb://localhost:27017/kontena_test' %>
      options:
        max_pool_size: 25
        write:
          w: 1
  options:
    use_utc: true
    raise_not_found_error: false
production:
  clients:
    default:
      options:
        max_pool_size: 40
        write:
          w: 1
      uri: <%= ENV['MONGODB_URI'] || ENV['MONGOHQ_URL'] %>
  options:
    use_utc: true
    raise_not_found_error: false
