Package: kontena-server
Version: VERSION
Maintainer: info@kontena.io
Architecture: all
Depends: docker-engine (>= 1.12) | docker.io (>= 1.12) | docker-ce | docker-ee, resolvconf
Description: Kontena Server
