Package: kontena-agent
Version: VERSION
Maintainer: info@kontena.io
Architecture: all
Depends: docker-engine (>= 1.10) | docker.io (>= 1.11) | docker-ce (<< 17.06) | docker-ee (<< 17.06), resolvconf
Description: Kontena Agent
